<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="site-footer-minimal" th:fragment="app-footer-minimal">
    <div class="container footer-minimal-inner">
        <a th:href="@{/about}" class="btn btn-secondary btn-sm">About Us</a>

        <p>&copy; 2026 CineCatalog. All rights reserved.</p>

        <span class="spacer"></span>
    </div>
</footer>
</body>
</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="site-footer-minimal" th:fragment="app-footer-copyright">
    <div class="container footer-minimal-inner" style="justify-content: center;">
        <p>&copy; 2026 CineCatalog. All rights reserved.</p>
    </div>
</footer>
</body>
</html>