<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="left-sidebar" th:fragment="user-sidebar">
    <nav class="sidebar-menu" aria-label="User dashboard navigation">
        <a class="sidebar-link active" href="/home">Home / Catalog</a>
        <a class="sidebar-link" th:href="@{/home/my-profile}">My Profile</a>
        <th:block th:if="${currentUser.isCanAddMovie}"><a class="sidebar-link" th:href="@{/movies/new}" >Add Movie</a></th:block>
        <th:block th:unless="${currentUser.isCanAddMovie}">
            <a class="sidebar-link disabled-link" onclick="document.getElementById('sub-msg').style.display='block';">Add Movie</a>
            <small id="sub-msg" style="display: none; color: red; font-size: 12px; margin-top: 5px; margin-left: 18px;">Subscribe to unlock the Add Movie feature</small>
        </th:block>
        <th:block th:if="${currentUser.isCanAddMovie}"><a class="sidebar-link" th:href="@{/movies/actors}" >Add Actor</a></th:block>
        <th:block th:unless="${currentUser.isCanAddMovie}">
            <a class="sidebar-link disabled-link" onclick="document.getElementById('sub-msg-1').style.display='block';">Add Actor</a>
            <small id="sub-msg-1" style="display: none; color: red; font-size: 12px; margin-top: 5px; margin-left: 18px;">Subscribe to unlock the Add Actor feature</small>
        </th:block>
        <a class="sidebar-link admin-link" th:if="${currentUser.role.toString().contains('ADMIN')}" th:href="@{/admin/movies}">Manage Movies</a>
        <a class="sidebar-link admin-link" th:if="${currentUser.role.toString().contains('ADMIN')}" th:href="@{/admin/users}">Manage Users</a>
        <a class="sidebar-link" th:href="@{/home/subscriptions}">Subscription</a>
    </nav>
</aside>

</body>
</html>